* { margin:0; padding:0; border:0; list-style:none; }
body { background:#FFFFFF ; font-family:arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif; font-size:14px; line-height:20px; color:#656d78; background-color:#f5f7fa; }
input { vertical-align:baseline; }
input::-ms-clear { display:none; }
input[type="submit"] { padding:1px 6px; }
.selCommon { width:150px; height:24px; padding:3px 2px 3px 3px; border:1px solid #e6e9ed; font-size:12px; line-height:24px; outline:0; color:#656d78; }
.txtCommon { width:150px; height:24px; padding:0; border:1px solid #e6e9ed; font-size:12px; line-height:24px; outline:0; color:#656d78; }
.txtSubmit { background-color:#dd4250; color:#fff; text-align:center; width:120px; line-height:24px; font-weight:bold; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; outline:none; }
.txtSubmit:hover { background-color:#ec4958; cursor:pointer; }
.clearfix { *zoom:1; clear:both; }
.clearfix:before,
.clearfix:after { display:table; content:""; line-height:0; }
.clearfix:after { clear:both; }
.container{ width:1190px; margin:0 auto; }
.header .top { position:relative; height:110px; text-align:right; }
.header .top .logo { position:absolute; top:30px; left:0; height:61px; }
.header .top .logo a { opacity:1; filter:alpha(opcity = 100); display:block; }
.header .top .logo a:hover { opacity:.95; filter:alpha(opcity = 95); text-decoration:none; }
.icon-common { background: url("../Images/icon-common.png") no-repeat; }
.icon-common-logo { background-position:0 0; width:220px; height:50px; }
.icon-common-search { background-position:-610px -6px; width:20px; height:20px; }
.icon-common-searchhover { background-position:-507px -0px; width:40px; height:44px; }
.icon-common-integration { background-position:1px -51px; width:24px; height:30px; }
.icon-common-badminton { background-position:-30px -51px; width:24px; height:30px; } 
.icon-common-basketball { background-position:-60px -51px; width:24px; height:30px; } 
.icon-common-natatorium { background-position:-90px -51px; width:24px; height:30px; } 
.icon-common-yoga { background-position:-120px -51px; width:24px; height:30px; }
.icon-common-golf { background-position:-150px -51px; width:24px; height:30px; }
.icon-common-ski { background-position:-180px -51px; width:24px; height:30px; }
.icon-common-tabletennis { background-position:-210px -51px; width:24px; height:30px; }
.icon-common-footerball { background-position:-240px -51px; width:24px; height:30px; }
.icon-common-bowling { background-position:-270px -51px; width:24px; height:30px; }
.icon-common-billiards { background-position:-300px -51px; width:24px; height:30px; }
.icon-common-outdoorsport { background-position:-330px -51px; width:24px; height:30px; }
.icon-common-dance { background-position:-360px -51px; width:24px; height:30px; }
.icon-common-outdooractivities { background-position:-390px -51px; width:24px; height:30px; }
.icon-common-tennis { background-position:-420px -51px; width:24px; height:30px; }
.icon-common-canoeing { background-position:-450px -51px; width:24px; height:30px; }
.icon-common-fencing { background-position:-480px -51px; width:24px; height:30px; }
.icon-common-gofishing { background-position:-510px -51px; width:24px; height:30px; }
.icon-common-martial { background-position:-540px -51px; width:24px; height:30px; }
.icon-common-shoot { background-position:-570px -51px; width:24px; height:30px; }
.icon-common-squash { background-position:-600px -51px; width:24px; height:30px; }
.icon-common-tel { background-position:-575px 0; width:35px; height:30px; }
.icon-common-face { background-position:-548px 0; width:30px; height:30px; }
.icon-common-fixture { background-position:0 -90px; width:15px; height:20px; }
.icon-common-coach { background-position:-15px -90px; width:15px; height:20px; }
.icon-common-age { background-position:-30px -90px; width:15px; height:20px; }
.icon-common-level { background-position:-45px -90px; width:15px; height:20px; }
.icon-common-region { background-position:-60px -90px; width:15px; height:20px; }
.five-star { background: url("../Images/five-star.png") no-repeat; width:190px; height:16px; }
.star-0 { background-position:0 -96px; }
.star-1 { background-position:0 -80px; }
.star-2 { background-position:0 -64px; }
.star-3 { background-position:0 -48px; }
.star-3 { background-position:0 -32px; }
.star-4 { background-position:0 -16px; }
.star-5 { background-position:0 0; }
.evaluation { position:absolute; margin:-28px 0 0 80px; }

.header .top .right { color:#434a54; font-size:12px; padding-top:33px; }
.header .top .right .search { float:right; }
.header .top .right .search .txt { display:block; width:364px; height:32px; text-indent:6px; border:3px solid #dd4250; background-color:#FFF; margin-top:6px; color:#ccd1d9; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; margin-bottom:6px; }
.header .top .right .search .mbtn { position:absolute; right:0px; top:40px; display:block; width:40px; height:38px; cursor:pointer; border:0; background:none; }
.header .top .right .search .hot { display:block; text-align:left; color:#aab2bd; }
.header .top .right .search .hot a { color:#aab2bd; margin-right:10px; }
.header .top .right .search .hot a:hover { color:#333; text-decoration:underline; }
.header .top .right .search .iconsear { position:absolute; right:10px; top:48px; display:block; cursor:pointer; }
.header .top .right .search .iconsearbg { position:absolute; right:1px; top:40px; display:inline; cursor:pointer; }

.header .nav { position:relative; height:45px; line-height:45px; color:#FFF; font-size:16px; background:#dd4250; -webkit-border-radius:4px 4px 4px 0; -moz-border-radius:4px 4px 4px 0; border-radius:4px 4px 4px 0; }
.header .nav strong { float:left; width:229px; border-right:1px solid #dd4250; }
.header .nav strong.side { display:block; text-indent:20px; color:#FFF; font-weight:400; }
.header .nav .lnks .lnks-li li { float:left; display:inline-block; }
.header .nav .lnks .lnks-li li a.lnk { display:block; padding:0 22px; color:#FFF; text-decoration:none; }
.header .nav .lnks .lnks-li li a:hover.lnk,
.header .nav .lnks .lnks-li li a.on { background-color:#ed5466; }

.showlist { width:230px; color:#333; line-height:40px; font-size:16px; background-color:#fffbea; color:#974c19; float:left; }
.showlist .title { background-color:#fcf5de; font-weight:normal; display:block; padding-left:10px; border-bottom:1px solid #f4edd9; border-top:1px solid #f4edd9; margin-top:10px; }
.showlist .showlistUI { margin:0 0 0 5px; }
.showlist .showlistUI li { float:left; width:98px; padding:8px 0 3px 10px; line-height:30px; border-bottom:1px dashed #f4edd9; }
.showlist .showlistUI li:last-child { border-bottom:0; }
.showlist .showlistUI b { display:block; float:left; }
.showlist .showlistUI li a.tit { display:block; text-indent:5px; text-decoration:none; color:#974c19; font-size:14px; }
.showlist .showlistUI li a:hover.tit { text-decoration:none; color:#3b4449; }

.showlist .searchRegion { cursor:pointer; padding:10px 0 6px 20px; line-height:30px; border-bottom:1px dashed #f4edd9; position:relative; font-size:14px; }
.showlist .searchRegion:hover { background-color:#fcf5de; }
.showlist .searchRegion .SBRAction { display:none; }
.showlist .searchRegion:hover .SBRAction { display:block; z-index:4; }
.showlist .ShowByRegion { position:absolute; background-color:#FFF; border:3px solid #ededed; line-height:32px; padding:10px 0 10px 10px; width:190px; margin:-50px 0 0 180px; left:50px; top:49px; }
.showlist .showlistUI-region { width:740px; margin:0 auto; }
.showlist .showlistUI-region li a { color:#828282; text-decoration:none; }
.showlist .showlistUI-region li a:hover { color:#f97380; }
.serchGo { position:absolute; left:180px; }

.rslide-cont { float:right; top:5px; right:5px; width:950px; }
.rslide-cont .banner { margin-top:10px; }
.rslide-cont .banner img { width:950px;  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;  }
.rslide-cont .likeRow { margin-top:10px; height:260px; overflow:hidden; }
.rslide-cont .likeRow .row1 { float:left; margin-right:10px; width:310px; }
.rslide-cont .likeRow .row1 a,
.rslide-cont .likeRow .row2 a { color:#FFF; text-decoration:none; line-height:34px; }
.rslide-cont .likeRow .row1 img { width:310px; height:260px; }
.rslide-cont .likeRow .row2 img { width:630px; height:260px; }
.rslide-cont .likeRow .row2 { float:left; margin-right:10px; width:630px; }
.rslide-cont .likeRow .lastone { margin-right:0px; }

.rslide-cont .venue { margin-top:10px; }
.rslide-cont .venue .item { margin-bottom:10px; padding-left:15px; background-color:#FFF; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; line-height:40px; display:table; width:935px; }
.rslide-cont .venue .item b { font-size:16px; }
.rslide-cont .venue .item div { display:table-cell; }

.rslide-cont .venue-detail { margin-top:10px; }
.rslide-cont .venue-detail .info1 { float:left; width:310px; }
.rslide-cont .venue-detail .notes { margin-top:40px; }
.rslide-cont .venue-detail .notes img { display:block; border:5px solid #fff; width:300px; }
.rslide-cont .venue-detail .info2 { float:left; margin-right:10px; width:630px; }
.rslide-cont .venue-detail .info2 .venue-title { font-weight:bold; font-size:18px; line-height:40px; }
.rslide-cont .venue-detail .info2 .venue-info { margin-bottom:10px; padding-left:15px; background-color:#FFF; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; line-height:40px; }
.rslide-cont .venue-detail .info2 .venue-show { text-align:center; padding:20px 0 5px 0; }
.rslide-cont .venue-detail .info2 .venue-review { margin:10px; padding:10px 0; border-bottom:1px dashed #dbdbdb; }
.rslide-cont .venue-detail .info2 .lastone { border-bottom:0; }

.rslide-cont .coach { margin-top:10px; }
.rslide-cont .coach .cirdius { margin-bottom:10px; padding:0 10px 0 5px; background-color:#FFF; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; line-height:40px; display:table; width:935px; }

.fixTable1,.fixTable2 { border:0; table-layout:fixed; margin:10px auto; }
.fixTable1 td, .fixTable2 td { text-align:left; }
.fixTable1 .td300 { width:290px; text-align:left; }
.fixTable1 .td180 { width:200px; padding-left:7px; }

.fixTable2 { margin-left:5px; }
.fixTable2 .th100 { width:100px; text-align:left; vertical-align:top; }
.fixTable2 .th100 b { display:block; float:left; margin:9px 8px 0 0; }
.fixTable2 td a { padding:0 14px; line-height:30px; border-right:1px solid #999; text-decoration:none; color:#666; }
.fixTable2 td a:last-child { border-right:0; }
.fixTable2 td a:hover { color:#999;}
.fixTable2 td a.selected { color:#ed5466; }

.coachList { border:0; table-layout:fixed; margin:10px auto 10px 10px; border-bottom:1px dashed #efefef; }
.coachList td { text-align:left; padding-bottom:10px; }
.coachList .aTitle { color:#2a64b4; font-size:16px; text-decoration:none; }
.coachList .tips { color:#56ce81; }
.coachList .td100 { width:100px; }

.coachDetail-title1 { border-bottom:1px solid #efefef; padding:15px 15px 0px; font-size:18px; color:#333; font-weight:bold; }
.coachDetail-title1 img { vertical-align:baseline; }
.coachDetail-publish { float:right; color:#999; font-size:12px; font-weight:normal; }

.tbl_coachDetail { margin:10px auto 0; padding:0 0 10px; border:0; border-bottom:1px dashed #efefef; table-layout:fixed; width:96%; }
.tbl_coachDetail td { text-align:left; padding:3px; }
.tbl_coachDetail .td80 { width:80px; }
.pink, .pink a { color:#ED5466; text-decoration:none; }

.coachDetail-desc { border-bottom:1px dashed #efefef; margin:10px auto 0; padding:0px 0 15px; width:96%; }
.coachDetail-desc b { font-size:14px; display:block; }
.coachDetail-desc span { line-height:26px; }
.coachDetail-ImgGroup { text-align:center; }
.coachDetail-ImgGroup img { padding-right:15px; width:210px; }
.coachDetail-ImgGroup img:last-child { padding-right:0; }

.paging { text-align:center; }
.paging a { text-decoration:none; min-width:18px; border:1px solid #e6e9ed; padding:7px 10px; font-size:12px; color:#656d78; }
.paging a:hover { background-color:#efefef; }
.paging a.on { background-color:#ff5b00; color:#fff; font-weight:bold; }

.footer { margin-top:25px; background-color:#edf0f3; border-top:4px solid #d7d7d7; }
.footer-link { border-bottom:1px solid #d7d7d7; height:165px; }
.footer-link li { float:left; width:238px; line-height:30px; }
.footer-link li b { font-size:18px; color:#434a54; display:block; padding:30px 0 10px; }
.footer-link li a { display:block; color:#434a54; text-decoration:none; }
.footer .itel { float:left; margin-right:10px; }
.footer .itel-title { color:#434a54; font-size:24px; font-weight:bold; margin:30px 0 0; letter-spacing:1px; }
.footer .tweenfour-hours { background-color:#85c143; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; width:190px; height:40px; margin:10px 0 0 10px; color:#FFF; font-size:16px; line-height:40px; font-weight:bold; }
.footer .tweenfour-hours:hover { opacity:.90; filter:(opcity=90); cursor:pointer; }
.footer .tweenfour-hours .hour24 { float:left; margin:4px 0 0 10px; }
.footer .footer-warning { padding-top:10px; text-align:center; border-top:1px solid #FFF; }
.footer .footer-warning p { line-height:30px; }

/*.fixBG { background:url(../Images/bg_Body.jpg) no-repeat center center; background-attachment:fixed; }
.UI-LR { width:450px; margin:0 auto; position:relative; margin-top:10%; }
.UI-LR .logoPosition { height:61px;  }
.UI-LR .logoPosition a { opacity:1; filter:alpha(opcity = 100); display:block; }
.UI-LR .lrArea { border:2px solid #cac8ff; background:url(../Images/opacity30.png) repeat top left; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; padding:10px 40px 30px; text-align:right; line-height:40px; }
.UI-LR .lrArea .lrSex { height:50px; font-size:16px; color:#FFF; margin:10px 0 25px; background-color:#937c83; color:#FFF; text-align:left; padding-left:10px; line-height:50px; }
.UI-LR .lrArea b { display:block; text-align:center; font-size:24px; color:#36a803; line-height:50px; }
.UI-LR .lrArea input[type='text'] { display:block; height:50px; font-size:16px; color:#FFF; text-indent:60px; width:100%; margin:10px 0 25px; }
.UI-LR .lrArea .Sex { width:28px; }
.UI-LR .lrArea .Email { background:#937c83 url(../Images/L_eMail.gif) no-repeat 15px 10px; }
.UI-LR .lrArea .UserName { background:#937c83 url(../Images/L_userName.gif) no-repeat 15px 10px; }
.UI-LR .lrArea .PassWord { background:#937c83 url(../Images/L_passWord.gif) no-repeat 15px 10px; }
.UI-LR .lrArea .Phone { background:#937c83 url(../Images/L_phone.gif) no-repeat 15px 10px; }
.UI-LR .lrArea .btnLogin { border:0px; background-color:#36a803; padding:10px 20px; text-align:center; font-size:20px; color:#FFF; cursor:pointer; float:left; }*/

.fixBG { background-color:#F2F2F2; }
.UI-Header { background-color:#ECECEC; border-bottom:1px solid #d9d9d9; height:75px; padding-top:30px; }
.UI-LR { width:900px; margin:0 auto; }
.UI-LR .logoPosition a { opacity:1; filter:alpha(opcity = 100); display:block; }
.UI-Content { border-top:1px solid #fff; padding-top:80px; }
.UI-LRC { border:1px solid #d9d9d9; }
.UI-LRC .lrArea b { display:block; text-align:left; font-size:24px; color:#36a803; line-height:50px; padding:10px 0 10px 30px; color:#FF9630; border-bottom:1px dashed #d9d9d9; }
.UI-LRC .lrArea input[type='text'] { display:block; height:35px; font-size:16px; color:#000; text-indent:10px; width:90%; margin:15px 0 15px; border:1px solid #e3e3e3; }
.UI-LRC .lrArea .btnLogin { border:0px; background-color:#fb7631; padding:10px 30px; text-align:center; font-size:16px; color:#FFF; cursor:pointer;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
.UI-LRC .tblLogin { padding:40px 0; margin:0 auto; line-height:50px; }
.UI-LRC .tblLogin th { text-align:right; width:80px; padding-right:20px; color:#000; font-size:14px; }
.UI-LRC .tblLogin td { text-align:left; font-size:12px; }
.UI-LRC .tblLogin .lrSex { color:#000; padding-top:3px; }
.UI-LRC .tblLogin .lrSex .Sex { width:28px; }
.fixBG .footer-warning { font-size:11px; }