body, p, b, dl, dd, table, td, th, input, img, form, div, ul, li, h1, h2, h3, h4, h5, h6, blockquote { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ol, ul { list-style: none; }
input, textarea, select, button { font-size: 100%; font-family: inherit; }
img, iframe { border: 0; text-decoration: none; }
table { border-collapse: separate; border-spacing: 0; }
th, td { text-align: left; font-weight: normal; }
button, input, select, textarea { margin: 0; padding:0; }
.clearfix { *zoom:1; clear:both; }
.clearfix:before,
.clearfix:after { display:table; content:""; line-height:0; }
.clearfix:after { clear:both; }

body { font: 12px/1.4 Helvetica, \5b8b\4f53, Arial, sans-serif; color: #333; } 
a { text-decoration: none; color: #255fb1; cursor:pointer; }
a:hover { text-decoration: underline; }
.header-wrap { background-color:#fff; height:85px; }
.header, .filter { margin:0 auto; }
.div-980 { width:980px; }
.float-left { float:left; }
.float-right { float:right; }
.logo { margin-top:20px; }
.search { margin:24px 0 0 0; width:490px; height:31px; border:1px solid #46b0ba; }
.input-search { width:400px; }
.btn-search { float:right; font-size:14px; width:80px; height:32px; background-color:#46b0ba; color:#fff; font-weight:bold; }

.nav-area{ background:#46b0ba repeat-x; background-position:0 -25px; height:38px; padding-top:2px; box-shadow:0 2px 1px #d4d7d7; -webkit-box-shadow:0 2px 1px #d4d7d7; -moz-box-shadow:0 2px 1px #d4d7d7 }
.nav-area .nav-container{ width:980px; height:38px; margin:0 auto; padding:0; }
.nav-area .navbar { height:38px; float:left; }
.nav-area .navbar a { display:block; float:left; margin-top:-1px; padding:0 22px; font-size:15px; line-height:38px; color:#fff; background:url("../n_Images/splitIcon.gif") center right no-repeat; }
.nav-area .navbar a:hover { background-color:#33a3aa; text-decoration:none; background-image:none; }
.nav-area .navbar a:first-child, .nav-area .nav-bar a:last-child { border-width:0px; }
.nav-area .navbar a.current { background-color:#299499; background-image:none; }
.nav-area .login-wrap { float:right; width:200px; height:38px; color:#9af6ff; }
.nav-area .login-wrap li { margin-top:10px; padding:0 6px; background:url("../n_Images/splitIcon.gif") center right no-repeat; float:right; }
.nav-area .login-wrap li:first-child { background-image:none; }
.nav-area .login-wrap li a { display:block; padding:2px 8px; color:#83e2e7; }
.nav-area .login-wrap li a:hover { background-color:#33a3aa; text-decoration:underline; border-radius:2px; text-decoration:none; }

.control-banner { width:980px; margin:10px auto 0; }
.control-banner .title-wrap { color:#333; font-size:18px; font-family:"microsoft yahei","微软雅黑",Arial,sans-serif; height:41px; line-height:41px; pading-left:7px; }
.control-banner .free-area { color:#333; line-height:41px; }
.control-banner .free-area  input { vertical-align:middle; margin-right:5px; }

.filter { border-top:2px solid #46b0ba; }
.filter .tblVenue { margin-top:10px; border:1px solid #ccc; border-collapse:collapse; border-spacing:0; }
.filter .tblVenue td { border:1px dashed #ededed; text-align:center; height:44px; color:#606060; background:#fefefe url("../n_Images/tblVenue_td.png") 0 0 repeat-x; vertical-align:middle; width:61px; cursor:pointer; color:#606060; }
.filter .tblVenue td:hover { background:#46b0ba none; border:1px solid #46b0ba; color:#fdf6f6; }
.filter .tblVenue td.current { color:#46b0ba; font-weight:bold; }
.filter .tblVenue td:hover.current { color:#fff; }
.filter .dist-left { height:40px; overflow:hidden; background:#fefefe url("../n_Images/dist_left.png") 0 0 repeat-x;border:1px solid #ddd;border-width:0 1px 1px 1px;padding-top:1px;box-shadow:0 2px 0 0 #efefef;-webkit-box-shadow:0 2px 0 0 #efefef;-moz-box-shadow:0 2px 0 0 #efefef; line-height:40px; }
.filter .dist-left a { color:#333; }
.filter .dist-left a:hover { color:#299f99; }
.filter .dist-left .dist-wrap { float:left; height:40px; white-space:nowrap; }
.filter .dist-left .dist-title-wrap { font-size:14px; font-weight:bold; font-family:'\5fae\8f6f\96c5\9ed1'; margin:0 10px 0 20px; }
.filter .dist-left .hotdist-wrap { font-weight:normal; margin-right:14px; }
.filter .dist-left .hotdist-wrap a { padding:2px 6px; }
.filter .dist-left .hotdist-wrap a:hover { background-color: #33a3aa; text-decoration:underline; border-radius:2px; text-decoration:none; color:#fff; }
