body, p, dl, dd, table, td, th, input, img, form, div, ul, li, h1, h2, h3, h4, h5, h6, blockquote { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100%; }
ol, ul { list-style: none; }
.red { color:#ff0000; }
input, textarea, select, button { font-size: 100%; font-family: inherit; }
img, iframe { border: 0; text-decoration: none; }
table { border-collapse: separate; border-spacing: 0; }
th, td { text-align: left; font-weight: normal; }
button, input, select, textarea { margin: 0; padding:0; }
.clearfix { *zoom:1; clear:both; }
.clearfix:before,
.clearfix:after { display:table; content:""; line-height:0; }
.clearfix:after { clear:both; }

body { font: 12px/1.4 Helvetica, \5b8b\4f53, Arial, sans-serif; color: #333; } 
a { text-decoration: none; color: #255fb1; cursor:pointer; }
a:hover { text-decoration: underline; }
.header-wrap { background-color:#fff; height:85px; }
.header, .filter, .good-area, .detail-content { margin:0 auto; }
.div-980 { width:980px }
.div-240 { width:240px }
.float-left { float:left; }
.float-right { float:right; }
.logo { margin-top:20px; }
.search { margin:24px 0 0 0; width:490px; height:31px; border:1px solid #46b0ba; }
.input-search { width:400px; height:31px; line-height:31px; }
.btn-search { float:right; font-size:14px; width:80px; height:32px; background-color:#46b0ba; color:#fff; font-weight:bold; }

.nav-area{ background:#46b0ba repeat-x; background-position:0 -25px; height:38px; padding-top:2px; box-shadow:0 2px 1px #d4d7d7; -webkit-box-shadow:0 2px 1px #d4d7d7; -moz-box-shadow:0 2px 1px #d4d7d7 }
.nav-area .nav-container{ width:980px; height:38px; margin:0 auto; padding:0; }
.nav-area .navbar { height:38px; float:left; }
.nav-area .navbar a { display:block; float:left; margin-top:-1px; padding:0 22px; font-size:15px; line-height:38px; color:#fff; background:url("../n_Images/splitIcon.gif") center right no-repeat; }
.nav-area .navbar a:hover { background-color:#33a3aa; text-decoration:none; background-image:none; }
.nav-area .navbar a:first-child, .nav-area .nav-bar a:last-child { border-width:0px; }
.nav-area .navbar a.current { background-color:#299499; background-image:none; }
.nav-area .login-wrap { float:right; width:200px; height:38px; color:#9af6ff; }
.nav-area .login-wrap li { margin-top:10px; padding:0 6px; background:url("../n_Images/splitIcon.gif") center right no-repeat; float:right; }
.nav-area .login-wrap li:first-child { background-image:none; }
.nav-area .login-wrap li a { display:block; padding:2px 8px; color:#83e2e7; }
.nav-area .login-wrap li a:hover { background-color:#33a3aa; text-decoration:underline; border-radius:2px; text-decoration:none; }

.control-banner { width:980px; margin:10px auto 0; }
.control-banner .title-wrap { color:#333; font-size:18px; font-family:"microsoft yahei","微软雅黑",Arial,sans-serif; height:41px; line-height:41px; padding-left:7px; }
.control-banner .free-area { color:#333; line-height:41px; }
.control-banner .free-area  input { vertical-align:middle; margin-right:5px; }

.boline { border-bottom:2px solid #46b0ba; }
.filter { border-top:2px solid #46b0ba; }
.filter .tblVenue { margin-top:10px; border:1px solid #ccc; border-collapse:collapse; border-spacing:0; }
.filter .tblVenue td { border:1px dashed #ededed; text-align:center; height:44px; color:#606060; background:#fefefe url("../n_Images/tblVenue_td.png") 0 0 repeat-x; vertical-align:middle; width:61px; cursor:pointer; color:#606060; }
.filter .tblVenue td:hover { background:#46b0ba none; border:1px solid #46b0ba; color:#fdf6f6; }
.filter .tblVenue td.current { color:#46b0ba; font-weight:bold; }
.filter .tblVenue td:hover.current { color:#fff; }
.filter .dist-left { height:40px; overflow:hidden; background:#fefefe url("../n_Images/dist_left.png") 0 0 repeat-x;border:1px solid #ddd;border-width:0 1px 1px 1px;padding-top:1px;box-shadow:0 2px 0 0 #efefef;-webkit-box-shadow:0 2px 0 0 #efefef;-moz-box-shadow:0 2px 0 0 #efefef; line-height:40px; }
.filter .dist-left a { color:#333; }
.filter .dist-left a:hover { color:#299f99; }
.filter .dist-left .dist-wrap { float:left; height:40px; white-space:nowrap; line-height:40px; }
.filter .dist-left .dist-title-wrap { font-size:14px; font-weight:bold; font-family:'\5fae\8f6f\96c5\9ed1'; margin:0 10px 0 20px }
.filter .dist-left .hotdist-wrap { font-weight:normal; margin-right:14px; vertical-align:middle; }
.filter .dist-left .hotdist-wrap a { padding:2px 6px; }
.filter .dist-left .hotdist-wrap a:hover { background-color: #33a3aa; text-decoration:underline; border-radius:2px; text-decoration:none; color:#fff; }

.scroll-area { width:980px; height:245px; border:1px #e5e5e5 solid; background-color:#fff; margin:20px auto 0; box-shadow:0 2px 0 #eee; -webkit-box-shadow:0 2px 0 #eee; -moz-box-shadow:0 2px 0 #eee}
.scroll-area h2 { font-size:14px; font-family:"\5FAE\8F6F\96C5\9ED1"; color:#000; line-height:14px; padding:15px 0 5px 15px }
.scroll-area .venue-container { width:980px; margin:0 auto; position:relative; }
.scroll-area .venue-container li { float:left; display:inline; width:225px; height:185px; padding:10px; }
.scroll-area .venue-container .venue-Lbtn { display:none; position:absolute; z-index:99; top:80px; width:27px; height:50px; background:url("../n_Images/control-btn.png") 0 0 no-repeat; }
.scroll-area .venue-container .venue-Lbtn:hover { background-position:-28px 0; }
.scroll-area .venue-container .venue-Rbtn { display:none; position:absolute; z-index:99; top:80px; right:0; width:27px; height:50px; background:url("../n_Images/control-btn.png") -56px 0 no-repeat; }
.scroll-area .venue-container .venue-Rbtn:hover { background-position:-84px 0; }
.scroll-area .venue-container:hover .venue-Lbtn,
.scroll-area .venue-container:hover .venue-Rbtn { display:inline-block; }
.scroll-area .img-wrap { height:145px }
.scroll-area .control-bar { height:40px; background-color:#46b0ba; color:#fff; display:block; margin-top:-5px; line-height:40px; font-size:14px; text-indent:5px; font-weight:normal; font-family:Helvetica, \5b8b\4f53, Arial, sans-serif; }
.scroll-area .control-bar:hover{ text-decoration:none }

.mr19 { margin-right:19px }
.mb20 { margin-bottom:20px }
.good-area { margin-top:10px; }
.good-area .wt-good-item-n { width:314px; height:282px; background-color:#fff; float:left }
.good-area .good-item-n-wrap { display:block; position:absolute; z-index:2; width:312px; height:280px }
.good-area .good-item-n-wrap:hover { box-shadow:0 1px 6px rgba(0,0,0,.3); -webkit-box-shadow:0 1px 6px rgba(0,0,0,.3); -moz-box-shadow:0 1px 6px rgba(0,0,0,.3) }
.good-area .good-item-n-border { width:312px; height:280px; border:1px solid #000; _border:1px solid #e7e7e7; opacity:.1; filter:alpha(opacity=10); box-shadow:0 1px 1px #eee; -webkit-box-shadow:0 1px 1px #eee; -moz-box-shadow:0 1px 1px #eee; position:absolute; left:0; top:0; z-index:2 }
.good-area .img-goods-pic { width:290px; height:200px }
.good-area .wt-good-item-n .good-n-meta { padding:11px 11px 7px }
.good-area .good-n-title { padding:7px 5px 0; line-height:25px; }
.good-area .good-n-title a { color:#000; font-size:16px; font-family:"微软雅黑",Arial,sans-serif }
.good-area .wt-good-item-n:hover .good-n-meta { background-color:#46b0ba; }
.good-area .wt-good-item-n:hover .good-n-title a { color:#fff; }
.good-area .good-n-foot { height:25px; line-height:25px; width:312px; margin:0 1px; background-color:#efefef; font-size:12px; }
.good-area .good-n-foot a { margin-left:10px; color:#999; float:left; display:inline-block; }
.good-area .good-n-foot .n-bought{ float:right; margin:0 15px 0 20px; color:#999 }

.more-link-wrap { width:980px; height:40px; *margin-top:20px; _margin-top:0; margin:0 auto; display:none; _position:relative }
.more-link-wrap .more-link { background: repeat-x; position:relative; display:inline-block; width:978px; height:38px; line-height:38px; text-align:center; cursor:pointer; text-decoration:none; border:1px solid #e5e5e5; background-position:0 0; color:#999; font-weight:bold; vertical-align:middle; zoom:1; background:url("../n_Images/more_links.png") top left repeat-x;}
.more-link-wrap .more-link span { vertical-align:middle; zoom:1 }
.more-link-wrap .more-link .ie6-vertical { font-size:0 }
.more-link-wrap .more-link .arrow-tip{ display:inline-block; width:9px; height:6px; margin-left:10px; background:url("../n_Images/arrow_down.png") no-repeat }
.more-link-wrap .more-link:hover { text-decoration:none; text-shadow:0 1px 0 #fff; color:#333; background-position:0 -48px; }
.more-link-wrap .more-link:hover .arrow-tip { background:url("../n_Images/arrow_down_hover.png") no-repeat }
.arrow_down { width:7px; height:20px; background:url("../n_Images/arrow_up_down.gif") 0 5px no-repeat }
.arrow_up { width:7px; height:20px; background:url("../n_Images/arrow_up_down.gif") 0 -25px no-repeat }

.i_body { background:url("../n_Images/bg.jpg") no-repeat center 0 #dcdcdc; } 
.i_header{ width:100%; height:43px; background:url(../n_Images/navbg.jpg) repeat-x; position:relative;}
.i_header .i_logo{ width:320px; height:60px; text-align:center; padding:12px 0 30px; display:block; position:absolute; left:50%; margin-left:-160px; top:0px; background:url(../n_Images/header.jpg) no-repeat center 0;}
.i_nav_l{ width:auto; float:left; height:43px; line-height:43px; }
.i_nav_r{ width:auto; float:right; height:43px; line-height:43px; overflow:hidden;}
.i_nav{ width:1000px; height:43px; margin:0 auto; color:#d9d9d9;}
.i_nav_l li{ float:left; position:relative;  z-index:1001; width:77px;}
.i_nav_l li i{ width:1px; height:12px; float:left; background:#d9d9d9; margin:15px 0 0 0;}
.i_nav_l li a{ color:#4d4d4d; font-size:12px; float:left; width:76px; text-align:center;}
.i_nav_l li a:hover{ color:#c9570c;}
.i_nav_l li a em{ width:9px; height:6px; display:inline-block; overflow:hidden; margin-left:3px; background:url("../n_Images/nav_arrow.png") no-repeat 0 0;}
.i_nav_l li.on a{ background:url("../n_Images/nav_hover.jpg") no-repeat 0 0; }
.i_nav_l li.on i{ display:none;}
.i_nav_l li.on em{ background-position:0 -6px;}
.i_nav_l li .sub{ width:180px; height:auto; padding:10px; overflow:hidden; background:#FFF; position:absolute; left:4px; top:41px; z-index:1000; display:none;}
.i_nav_l li .sub a{ float:left; padding:0 5px; width:auto; white-space:nowrap; color:#666; background:none; line-height:20px; text-align:left;}
.i_nav_l li .sub a:hover{ color:#c9570c;}

.i_nav_r a{ padding:0 14px; color:#4d4d4d; float:left;}
.i_nav_r a:hover{ color:#c9570c;}
.i_nav_r i{ width:1px; height:12px; float:left; background:#d9d9d9; margin:15px 0 0 0;}

.i_index_search { width:1000px; height:100px; margin:0 auto; overflow:hidden;position:relative;}
.i_index_search .i_search_box { width:350px; padding:0 0 0 15px; background:url("../n_Images/search_bg.jpg") no-repeat; height:30px; left:645px; top:27px; position:absolute;}
.i_index_search .i_search_input { width:300px; height:20px; padding:5px 0; outline:none; line-height:20px; color:#666; border:none; background:none; float:left;}
.i_index_search .i_search_btn { width:42px; height:30px; float:left; cursor:pointer; border:none; background:none;}
 
.i_index_list{ width:1000px; height:360px; margin:0px auto 30px; }
.i_index_list li { width:186px; height:360px; float:left; margin-right:17px; position:relative; overflow:hidden;}
.i_index_list li.i_last { margin-right:0px;}
.i_index_list li .i_mask { width:186px; height:86px; position:absolute; left:0px; bottom:-33px;}

.detail-content { margin-top:20px }
.detail-main { width:720px; float:left; }
.main-box { background:#fff; font-family:"\5FAE\8F6F\96C5\9ED1",SimHei; padding:20px 10px 10px; position:relative; border:1px solid #e5e5e5 }
.main-box h1 { font-size:22px; color:#333; line-height:33px; word-break:break-all; margin-top:5px }

.main-box .site-title { font-size:18px; color:#999; line-height:30px; margin:10px; word-break:break-all }
.book-show { margin-top:20px; font-family:'arial'; width:700px; _width:720px }
.book-show .book-box { float:left; background:#fff; width:287px; margin-right:10px; margin-left:0; position:relative; min-height:260px; line-height:35px; color:#666; }
.book-box .book-info {  border:1px solid #e5e5e5; border-width:1px 0; padding:10px 0 20px 15px }
.book-show { font-size:14px } 
.book-show .book-component-container { width:70px; display:block; position:absolute; color:#999 }
.book-show .book-component-inline-text-container { display:block; color:#299499; float:left; padding-left:70px }
.book-show .book-component-link { color:#999; padding-left:15px; margin-top:10px }
.book-show .book-component-link:hover { color:#46b0ba; }
.book-show .pro-img { float:left; width:400px; height:276px; overflow:hidden; margin-bottom:5px }
.book-show .book-contain-detail { font:12px/1.8 Helvetica, \5b8b\4f53, Arial, sans-serif !important; color:#999; margin:0 auto; border:1px solid #e5e5e5; padding:7px } 
.book-show .book-contain-detail h2 { font-size:14px; line-height:30px }
.book-show .book-contain-detail p { text-indent:24px; }
.book-show .book-contain-detail table { border:1px solid #f4f4f4; border-width:0 0 1px 1px }
.book-show .book-contain-detail table td { border:1px solid #f4f4f4; border-width:1px 1px 0 0; text-align:center; padding:2px 6px }
.book-now { margin-bottom:10px }
.book-now a.normal { background: no-repeat; display:block; width:150px; height:40px; margin:15px auto 0; background:url("../n_Images/btnBook.png") top left no-repeat;  -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; color:#fff; font-size:18px; font-weight:bold; text-decoration:none; line-height:40px; text-align:center; text-shadow:1px 1px 0 #333 }
.book-now a.normal:hover { background-position:0 -47px; }

.main-box .detail-title { border-bottom:2px solid #46b0ba; }
.main-box .title { background-color:#46b0ba; display:inline-block; width:120px; height:35px; line-height:35px; text-align:center; color:#fff; font-size:16px; }
.resetmain-box { padding:10px }
.main-box .detail-content-img { margin:10px 0 0; padding-bottom:0; overflow:hidden }
.main-box .detail-content-img img { width:697px }
.main-box .flex-control-nav { bottom:10px }
.main-box .page-comment { padding:10px }
.modify-alt { height:30px; width:100%; overflow:hidden; position:relative; margin-bottom:5px; line-height:30px }
.ui_big_ratings { width:130px; height:24px; overflow:hidden; line-height:24px; float:left }
.ui_big_ratings li { width:26px; height:24px; float:left; background-position:-25px 0; cursor:default; overflow:hidden; background:url("../n_Images/ico_star.gif") no-repeat -26px 0; }
.ui_big_ratings li.on{ background-position:0 0}
sub{ font-size:22px; font-size:28px\9; font-style:italic; color:#f60; line-height:24px; vertical-align:middle; margin-left:10px }
.comment-points { margin:0 10px }
.comment-desc { color:#329acd; float:left; }
.ui-comment-textArea { border:1px solid #a8a8a8; border-radius:5px; padding:4px; height:60px; background-color:#fff; width:auto; position:relative }
.ui-comment-textArea textarea { overflow-y:auto; resize:none; font-size:14px; display:block; position:relative; z-index:5; margin:0; width:100%; height:55px; line-height:20px; border:0; background:#fff }

.dl-common-original .page-icon,
.page-modify-dialog span.iserm,
.page-modify-dialog span.ispic { cursor:pointer; float:left; padding:3px 0 3px 20px; display:inline-block; height:12px; line-height:12px; margin-right:10px; margin-top:6px; background:url("../n_Images/comment.gif") no-repeat } 
.page-modify-dialog span.iserm { background-position:0 2px }
.page-modify-dialog span.ispic { background-position:0 -25px }
.page-modify-dialog { height:30px; line-height:12px; width:100%; position:relative; margin:5px 0 10px 0 }
.page-modify-dialog .btnpublish { border:0px; background-color:#299499; padding:6px 25px; text-align:center; color:#fff; cursor:pointer; font-weight:bold; line-height:32px; font-size:14px; font-style:normal; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none }
.page-modify-dialog .btnpublish:hover { -moz-box-shadow:inset 0 0 15px #46b0ba; -webkit-box-shadow:inset 0 0 15px #46b0ba; box-shadow:inset 0 0 15px #46b0ba }
.dl-common-original li { padding:10px 0; border-top:1px solid #f2f2f2 }
.dl-common-original p { display:block }
.dl-common-original .page-reply { line-height:24px; height:24px; width:100%; color:#999; margin-top:10px }
.dl-common-original .page-icon { margin-left:10px; padding-left:20px; display:inline-block }
.useful { background-position:3px -104px!important; color:#ea6; line-height:18px!important }
.useful:hover { text-decoration:none }
.comment { background-position:0 -182px!important; color:#999; line-height:18px!important }
.comment:hover { background-position:0 -209px!important; color:#ea6; text-decoration:none }
.ui_grades { background:url("../n_Images/ui_star.png") no-repeat; display:inline-block; width:95px; height:12px; line-height:12px; font-size:12px; font-weight:bold; color:#f60; text-align:right; margin:1px 2px }
.ui_grade1 {background-position:0 0}
.ui_grade2 { background-position:0 -12px }
.ui_grade3 { background-position:0 -25px }
.ui_grade4 { background-position:0 -38px }
.ui_grade5 { background-position:0 -51px }
.ui_grade6 { background-position:0 -64px }
.ui_grade7 { background-position:0 -77px }
.ui_grade8 { background-position:0 -90px }
.ui_grade9 { background-position:0 -103px }
.ui_grade10 { background-position:0 -116px }

.detail-sidebar { width:240px; float:right }
.detail-sidebar .slideMap { border:1px solid #e5e5e5 }
.cz_topHit { padding:10px 15px; background-color:#EAF4FE; }
.cz_topHit h2,
.cz_celinder h2 { font-size:16px; font-weight:bold; padding-bottom:5px; color:#0B99EF }
.cz_topHit .cz_list li { line-height:28px; border-bottom:1px solid #cadff2; border-top:1px solid #fff; color:#333; }
.cz_topHit .cz_list li:first-child { border-top:0; }
.cz_topHit .cz_list li:last-child { border-bottom:0; }
.cz_topHit .cz_list li a { color:#333; }
.cz_topHit .cz_list li a:hover { text-decoration:underline; color:#D12B01; }
.cz_topHit .sm_Red { padding:0 4px; background-color:#F56D57; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; color:#fff; }
.cz_topHit .sm_Gre { padding:0 4px; background-color:#4AD0B8; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; color:#fff; }

.cz_topTen { background-color:#eaf4fe; }
.cz_topTen .cz_searchArea { padding:10px; background-color:#D0E6FA; color:#fff; line-height:26px; }
.cz_searchArea a { color:#3776b5; }
.cz_topTen .cz_topTen_title { color:#888; font-size:14px; line-height:26px; font-size:12px; }
.cz_topTen .cz_topTen_searchArea { background-color:#b8d5ef; padding:4px; }
.cz_topTen .ddlSearchBySports { background-color:#fff; padding:2px; width:160px; border:0; color:#898989; }
.cz_topTen .txtSearchBySports { text-align:center; padding:3px 9px; border:0; background:none; background-color:#d6eafd; color:#3975b3; font-size:12px; cursor:pointer; border:1px solid #A0C1E1; }
.cz_topTen .txtSearchBySports:hover { background-color:#deeefe; }

.cz_celinder { padding:10px 0; }
.cz_celinder .cz_monthSc { overflow:hidden; width:240px; position:relative; }
.cz_celinder .cz_monthSc .cz_monthSc_L { padding:5px 10px; background-color:#999; color:#fff; position:absolute; left:0; top:0; text-decoration:none; }
.cz_celinder .cz_monthSc .cz_monthSc_R { padding:5px 10px; background-color:#999; color:#fff; position:absolute; right:0; top:0; text-decoration:none; }
.cz_celinder .cz_monthSc .cz_month_menu { overflow:hidden; display:block; width:188px; height:26px; margin:0 auto; background-color:#cee7fe; }
.cz_celinder .cz_monthSc .cz_month_menu li { width:47px; padding:5px 0; text-align:center; color:#898989; float:left; display:none; }
.cz_celinder .cz_monthSc .cz_month_menu li:hover { background-color:#33a3aa; cursor:pointer; }
.cz_celinder .cz_monthSc .cz_month_menu li.onSel { display:block; }
.cz_topTen .btnSignUp { background-color:#f56d57; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; padding:2px 6px; color:#fff; float:right; }
.cz_celinder .cz_monthCo { overflow:hidden; width:240px; padding-top:5px; }
.cz_celinder .cz_Monthlist { background-color:#f3f9ff; }
.cz_celinder .cz_Monthlist li { line-height:28px; border-bottom:1px solid #cadff2; border-top:1px solid #fff; color:#333; }
.cz_celinder .cz_Monthlist li:first-child { border-top:0; }
.cz_celinder .cz_Monthlist li:last-child { border-bottom:0; }
.cz_celinder .cz_Monthlist li a { color:#333; }
.cz_celinder .cz_Monthlist li a:hover { text-decoration:underline; color:#D12B01; }

.footer { width:100%; margin-top:45px; }
.footer-sep { border-bottom:1px solid #fff; border-top:1px solid #e5e5e5 }
.foot { width:880px; padding:28px 0 45px 0; margin:0 auto; overflow:hidden; }
.foot dl { width:120px; height:80px; float:left; border-left:1px solid #FFF; margin-right:99PX; }
.foot dt { width:100px; height:24px; line-height:24px; font-size:14px; padding-left:20px; color:#999;  margin-bottom:14px; background:#FFF; }
.foot dd { width:100px; height:20px; line-height:20px; padding-left:20px; font-size:12px; }
.foot dd a { display:block; line-height:20px; color:#666; text-shadow:0 1px #f5f5f5; }
.foot_b { width:100%; height:20px; background:#666; line-height:20px; color:#FFF; font-family:Arial; }
.foot_b_main { width:980px; height:20px; line-height:20px; margin:0 auto; }
.i_footer{ width:100%; height:auto; border-top:solid 1px #c3c3c3; background:#e6e6e6;}

.mode-backtop { position:fixed; bottom:30px; top:auto; left:50%; margin-left:500px; z-index:6; _position:absolute; }
a.index-backtop { width:48px; height:53px; background:url("../n_Images/goestop.png") 0 -52px no-repeat; display:block; }
a:hover.index-backtop { background-position:0 0; }

/* 体育协会涉及到以前的修改 20140528 */
.sidenav-area { position:fixed; top:150px; bottom:auto; left:50%; width: 110px; margin-left:-620px; z-index:6; _position:absolute; }
.sidenav-area .sidenav-head { width: 110px; height: 7px; background: url("../n_Images/leftmenu.png") 0 -82px no-repeat; }
.sidenav-area .sidenav-content { width: 110px; background-color: #fff; }
.sidenav-area .sidenav { display: block; width: 93px; height: 35px; padding-left: 15px; line-height: 35px; border: 1px solid #ddd; border-width:1px 1px 0 1px; font-size: 14px; color: #33a3aa; font-family: "\5FAE\8F6F\96C5\9ED1",SimHei; text-decoration: none; }
.sidenav-area .sidenav:hover { background-color: #46b0ba; color: #fff; border: 1px solid #33a3aa; margin-bottom: -1px; position: relative; z-index: 5 }
.sidenav-area .current { background-color:#33a3aa; color: #fff; border: 1px solid #33a3aa; margin-bottom: -1px; position: relative; z-index: 2; }
.sidenav-area .current:hover { background-color:#33a3aa }
.sidenav-area .sidenav-foot { width: 110px; height: 34px; }
.sidenav-area .sidenav-foot a { display: block; width: 110px; height: 34px; border-top: 1px solid #ddd; background: url("../n_Images/leftmenu.png") 0 -90px no-repeat;}
.sidenav-area .sidenav-foot a:hover { background: url("../n_Images/leftmenu.png") 0 -125px no-repeat }
/* 体育协会涉及到以前的修改 20140528 */

.popupLayout { z-index: 10000; position: fixed; width: 100%; height: 100%; left: 0px; top: 0px; }
.popupLayout .mask { width: 100%; height: 100%; z-index: 2; background-color: #000; position: absolute; filter: alpha(opacity=20); opacity: 0.2; -moz-background-clip:border-box; -moz-background-origin:padding-box; -moz-background-inline-policy:continuous; }
.popupLayout .layContent { top: 30%; left: 32%; position:relative; z-index:10003; background-color:#FFF; border:#dbdbdb 1px solid; font-weight:bold; font-size:13px; padding:3px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -moz-box-shadow: 0px 1px 1px #666; -webkit-box-shadow: 0px 1px 1px #666; box-shadow: 0px 1px 1px #666 }
.btnCloseLayout { color:#656d78; float:right; background:none; font-weight:bold; outline:none; margin:10px 10px 0 0; cursor:pointer; }
.btnCloseLayout:hover { color:#000; }
.comments-title { font-weight:bold; border-bottom:1px solid #eee; padding-left:15px; font-size:16px; vertical-align:baseline; }
.comments-title img { vertical-align:middle; }
.comments-content { width:400px; margin:10px auto 0; font-weight:normal; line-height:40px; }
.comments-content .action { margin-top:15px; }
.comments-content .submitco { background:url("../n_Images/menu.gif") repeat-x top left; width:150px; height:30px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; outline:none; color:#fff; font-weight:bold; cursor:pointer; }
.comments-content input[type='text'],
.comments-content input[type='password'] { display:block }
.txtUserName { width:380px; background:url("../n_Images/input_icons.png") 5px -62px no-repeat; padding:12px 10px 12px 35px; border:1px solid #ddd; margin:15px 0 }
.txtPassWord { width:380px; background:url("../n_Images/input_icons.png") 5px -140px no-repeat; padding:12px 10px 12px 35px; border:1px solid #ddd; }
.pass-form-item { margin:15px 0; line-height:34px; }
.pass-form-item input[type='checkbox'] { vertical-align:middle }
.pass-form-item .pass-fgtpwd { position:absolute; margin-left:200px; }

.login-link { margin-top:7px }
.login_logo { display:block; margin:15px 0 10px }
.login-tips { position:absolute; top:40px; margin:0 0 0 160px; border-left:1px solid #999; padding-left:30px; font-size:16px; font-weight:bold; }
.nav-2 { height:20px; background:url("../n_Images/reg-nav.png") no-repeat center top }
.login-btn { font-weight:bold; color:#666; height:32px; width:64px; border:none; background:url("../n_Images/reg_icons.png") no-repeat 0 -48px; cursor:pointer; }
.tblLogin { padding:40px 0; line-height:50px; }
.tblLogin th { text-align:right; width:80px; padding-right:20px; color:#000; font-size:14px; font-weight:bold; }
.tblLogin td { text-align:left; }
.tblLogin input[type='text'],
.tblLogin input[type='password'] { height:35px; font-size:16px; color:#000; padding-left:10px; width:350px; border:1px solid #e3e3e3; vertical-align:middle; }
.tblLogin .on { border:1px solid #488ee7!important }
.tblLogin input[type='checkbox'] { vertical-align:middle; }
.tblLogin img { vertical-align:middle; }
.tblLogin .btnLogin { border:0px; background-color:#3f89ec; padding:10px 30px; width:350px; text-align:center; font-size:16px; color:#FFF; cursor:pointer;  -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; font-weight:bold; }
.tblLogin .error { border:1px solid #ff0000!important }

.map_wrap { width:100%; padding-top:43px; margin-bottom:0px; overflow:hidden; position:relative; z-index:10 }
.map_aside { width:auto; height:auto; float:left;  position:relative; z-index:10000;}
.map_left { width:298px; height:auto; border-left:1px solid #ccc; float:left; border-right:1px solid #ccc; background:#FFF; background:url("../n_Images/map_left_top.jpg") no-repeat center 0 #f8f8f8; padding-top:40px;}
.map_tab { width:298px; height:33px; background:url("../n_Images/map_icon.png") repeat-x; position:relative; border-top:1px solid #ccc;}
.map_tab .nav_li { float:left; width:149px; height:33px; background:url("../n_Images/map_icon.png") no-repeat; background-position:20px -66px; position:relative;}
.map_tab .nav_li a { color:#333; padding:7px 45px 0 25px; height:26px; display:block; position:relative;}
.map_tab .nav_li a:hover { background-color:#e8e8e8;}
.map_tab .nav_li i { width:7px; height:4px; display:block; background:url("../n_Images/map_icon.png") no-repeat; background-position:-123px -43px; position:absolute; top:15px; right:27px;}
.map_blank { height:33px; line-height:33px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; color:#666; padding-left:30px; background:#f8f8f8;}
.packup { height:72px; border:1px solid #e8e8e8; position:absolute; top:50%; border-left:none; right:-15px; background-color:#FFF; cursor:pointer; box-shadow:1px 0 3px rgba(0,0,0,0.1); z-index:10000;}
.packup a { width:15px; height:15px; margin:28px 0; display:block; background:url("../n_Images/map_icon.png") no-repeat -80px -52px;  cursor:pointer;}
.packup.packed a { background-position:-70px -52px; }
.packup a:hover { background-color:#f8f8f8;}
.map_tab .lay-screen { display:none; border:1px solid #c9c9c9; background-color:#f7f5f2; width:149px; position:absolute; top:33px; left:-1px; box-shadow:rgba(0,0,0,0.1) 2px 2px 2px; z-index:10;}
.map_tab .lay-screen li { position:relative; zoom:1; z-index:10;}
.map_tab .lay-screen li a.has-child { background-image:url("../n_Images/map_icon.png"); background-position:245px -97px;}
.map_tab .sublevel { position:absolute; z-index:20; left:149px; top:0px; display:none; }
.result_list { overflow-y:auto; overflow-x:hidden;}
.result_list dl { width:241px; height:auto; padding:17px 15px 17px 42px; overflow:hidden; border-bottom:1px dotted #b63b19;}
.result_list dl:hover { background-color:#fff9f1;}
.result_list dt { height:24px; line-height:24px; font-size:14px; font-weight:bold; color:#c9570c; position:relative;}
.result_list dt i { width:18px; height:18px; border-radius:2px; font-style:normal; background:#b43512; display:block; color:#FFF; text-align:center; line-height:18PX; position:absolute; left:-24PX; top:3PX;}
.result_list dd { line-height:20px; color:#333; }
.result_list dd label { color:#9e9e9e; }
.map_right { overflow:hidden; position:relative; }
.gps_box { position:absolute; left:75px; top:20px; }
.gps_box input[type=text] { width:285px; height:17px; line-height:17px; padding:6px 7px; border:1px solid #c9c9c9;  background:url("../n_Images/map_icon.png") no-repeat 5px -138px #fff; float:left; border-radius:2px; box-shadow:1px 1px 1px rgba(0,0,0,0.1); border:none; color:#999; padding-left:30px;}
.gps_box .btn { width:54px; border-radius:3px; line-height:27px; color:#FFF; font-size:14px; font-weight:bold; float:left; margin-left:5PX; background:#ff7e28; border:1px solid #ff7617; cursor:pointer; }
.gps_box .btn:hover { background:#f06708; }
.mr10 {margin-right:10px;}

.contest-zone { background:#fff; font-family:"\5FAE\8F6F\96C5\9ED1",SimHei; padding:10px; position:relative; border:1px solid #e5e5e5 }
.contest-zone h1,
.contest-news h1 { font-size:16px; color:#333; line-height:14px; word-break:break-all; font-weight:bold; margin-top:5px; color:#0B99EF }
.contest-zone .cz_banner { width:710px; height:300px; overflow:hidden; }

.contest-news { font-family:"\5FAE\8F6F\96C5\9ED1",SimHei; position:relative; margin:0; padding:0; width:730px; }
.contest-news .cz_imnews { width:240px; background-color:#fff; border:1px solid #e5e5e5; padding:10px; margin-right:10px; }
.contest-news .cz_foNews { width:436px; overflow:hidden; background-color:#fff; border:1px solid #e5e5e5; padding:10px; }
.contest-news a.cz_foNews_title { color:#255fb1; font-size:14px; text-decoration:none; letter-spacing:1px; display:block; padding-bottom:5px; }
.contest-news a.cz_foNews_normal { color:#333; text-decoration:none; letter-spacing:1px; line-height:20px }
.contest-news a:hover.cz_foNews_normal { color:#666; }
.contest-news a.cz_foNews_more { display:block; float:right; color:#ccc; padding-top:2px; }
.contest-news a:hover.cz_foNews_more { color:#D12B01; cursor:pointer; }
.contest-news .cz_foNewsCol { border-bottom:1px dashed #ddd; padding:0 0 5px; margin:0 0 15px; }
.contest-news .cz_czNewsCol { border-bottom:1px dashed #ddd; padding:0 0 5px; margin:10px 0 15px; }
.contest-news .cz_noNewsCol { padding:0 0 5px; margin:10px 0 15px; }

/* 体育协会Start 20140528 */
.aa-list { position:relative; overflow:hidden; font-family:"\5FAE\8F6F\96C5\9ED1",SimHei; margin:10px 0 0; padding:0; }
.aa-list .aa-column1 { position:absolute; top:0; left:0; width:240px; }
.aa-list .aa-column2 { position:absolute; top:0; left:250px; width:210px; }
.aa-list .aa-column3 { position:absolute; top:0; left:470px; width:240px; }
.aa-list .aa-column4 { position:absolute; top:0; left:720px; width:260px; }
.aa-list .aa-column5 { position:absolute; top:0; left:0; width:191px; }
.aa-list .aa-column6 { position:absolute; top:0; left:197px; width:191px; }
.aa-list .aa-column7 { position:absolute; top:0; left:394px; width:191px; }
.aa-list .aa-column8 { position:absolute; top:0; left:591px; width:191px; }
.aa-list .aa-column9 { position:absolute; top:0; left:788px; width:191px; }
.aa-list .aa-column1 img { width:230px; padding:5px 0 0 5px; }
.aa-list .aa-column2 img { width:200px; padding:5px 0 0 5px; }
.aa-list .aa-column3 img { width:230px; padding:5px 0 0 5px; }
.aa-list .aa-column4 img { width:250px; padding:5px 0 0 5px; }
.aa-list .aa-column5 img, .aa-list .aa-column6 img, .aa-list .aa-column7 img, .aa-list .aa-column8 img,
.aa-list .aa-column9 img { width:182px; padding:4px 0 0 4px; }
.aa-list .aa_img_box { background-color:#fff; margin-bottom:10px; box-shadow:0 2px 2px #d4d7d7; -webkit-box-shadow:0 2px 2px #d4d7d7; -moz-box-shadow:0 2px 2px #d4d7d7 }
.aa-list .aa_img_box a { position:relative; z-index:5; }
.aa-list a .aa_box_hiden { display:block; position:absolute; z-index:6; margin-top:-45px; background-color:#000; color:#fff; height:40px; line-height:40px; margin-left:5px; text-indent:5px; display:none; opacity:.9; filter:alpha(opacity=90); }
.aa-list a:hover .aa_box_hiden { display:block; }
.aa-list a .aa_box_hiden_small { display:block; position:absolute; z-index:6; margin-top:-30px; background-color:#000; color:#fff; height:25px; line-height:25px; margin-left:5px; text-indent:5px; display:none; opacity:.9; filter:alpha(opacity=90); }
.aa-list a:hover .aa_box_hiden_small { display:block; }
.aa-list a .aa_box_size1 { width:230px; }
.aa-list a .aa_box_size2 { width:200px; }
.aa-list a .aa_box_size3 { width:230px; }
.aa-list a .aa_box_size4 { width:250px; }
.aa-list a .aa_box_size6 { width:182px; }
.aa-list a .aa_box_l { width:135px; }
.aa-list a .aa_box_r { width:120px; }
.aa-list a:hover.aa_box_hiden { display:block; }
.aa-list .aa_img_smallBox_l { width:135px; float:left; margin-right:5px; }
.aa-list .aa_img_smallBox_r { width:120px; float:left; }
.aa-list .aa_img_smallBox_l img { width:125px; padding:5px 0 0 5px; }
.aa-list .aa_img_smallBox_r img { width:110px; padding:5px 0 0 5px; }
/* 体育协会End 20140528 */